div.editor {
    background-color: rgba(189, 188, 188, 0.062);
    overflow: hidden;
    input[type="file"] {
        display: none;
    }
    .change-image {
        display: block;
    }
    & i:first-of-type {
        margin-right: 10px;
    }
    border-top: 1px solid rgba(186, 186, 186, 0.249);
    height: 89.5vh;
    .workspace {
        @include scrollBar(.5rem, lighten($clr4, 35%));
        overflow-y: scroll;
        padding: 5px;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        background-color: white;
        & .draggable-container {
            margin: 0 auto;
            width: -webkit-fill-available;
        }
        .dragArea {
            height: 100%;
            outline: 3px dashed rgb(156, 156, 156);
            .ghost {
                img {
                    opacity: 0;
                }
                background-color: $clr6;
                max-height: 40px;
                border: 2px dashed rgb(195, 195, 195);
            }
            .ghost:after {
                content: "Drop It Like It's Hot!";
                margin: 0 auto;
                position: absolute;
                top: 10px;
                left: 46%;
                z-index: 10;
            }
        }
        .dragIcon {
            background-image: url('../assets/drag-icon2.png');
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.6;
            width: 99%;
            transform: scale(1);
            transform: rotate(0deg);
            animation-name: pump;
            animation-duration: .8s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
        }
    }
    @keyframes pump {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(.995);
        }
    }
    .controller {
        box-shadow: 0 3px 6px rgba(0, 0, 100, .15);
        z-index: 5;
        background-color: #fff;
        border-radius: 1rem;
        margin: 0 8px;
        @include scrollBar(.5rem,
        lighten($clr2, 5%));
        overflow-x: hidden;
        width: 15%;
        min-width: 16rem;
        .controller-add,
        .controller-edit {
            padding: rem(20px);
        }
        border-right: 1px solid $clr4;
        min-height: fit-content;
        height: 90%;
        overflow-y: scroll !important;
        display: flex;
        nav {
            font-size: 1.3rem;
            text-align: center;
            a {
                padding-right: 20px;
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: $clr2;
                width: 100%;
                height: 100%;
            }
            .active-tab {
                border-bottom: 1px solid $clr3;
                color: $clr2;
            }
            letter-spacing: 2px;
        }
        .controller-add {
            button {
                width: 5rem;
                height: 3rem;
                margin: 0.5rem;
            }
        }
        .add-menu-seperator {
            width: 90%;
            border: 1px solid rgb(233, 233, 233);
        }
        .add-options-btn {
            margin-top: 20px;
            padding: 10px;
            cursor: grab;
        }
        footer {
            padding-left: 10px;
            padding-right: 10px;
        }
        .el-slider,
        .el-input {
            width: 40%;
            display: flex;
            align-content: flex-end !important;
        }
        .el-input {
            width: 80%;
        }
    }
}

.controller-add {
    .el-collapse-item__wrap {
        border-bottom: none !important;
    }
    .dragArea {
        .sortable-chosen {
            .ghost {
                opacity: 0;
            }
        }
    }
    .add-list {
        display: block;
        text-align: start;
        margin: 0;
    }
}

.put-icon {
    position: relative;
    .drag-image {
        z-index: 20;
        pointer-events: none;
        opacity: 0;
        transition: opacity .7;
        position: absolute;
        width: 140px;
        left: -10%;
        bottom: 0%;
        transition: 1s ease;
        opacity: 0;
    }
    &:active .drag-image {
        opacity: 60%;
        transition: .3;
    }
    .costum-ghost {
        display: none;
    }
}

.add-prev-img {
    border-radius: 5px;
    margin: 0;
    filter: grayscale(0.5);
}

.web-container {
    outline: 2px dashed transparent;
    border-width: 1px;
    border-color: transparent;
}

.on-edit {
    transition: none;
    &:hover {
        z-index: 100;
        outline: 2px dashed rgb(195, 195, 195);
    }
}

.loading-editor {
    padding: 10px;
    position: absolute;
    font-size: 1rem;
    z-index: 30;
    bottom: 0;
    background-color: #ffffff78;
}