.template-preview-container {
  // margin-top: 3rem;
  text-align: center;
  flex-direction: column;
  // display: flex;
  font-size: 1.1rem;
  // flex-wrap: wrap;
  // height: 90vh;
  // max-width: 1700px;
  // flex-direction:;
  margin: 0;
  padding: 3rem;
  & .template-previews-list {
    display: flex;
    // margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    // justify-content: center;
    flex-wrap: wrap;
    // padding: 20px;
  }
}

.template-preview {
  width: rem(370px);
  height: rem(285px);
  margin-top: 2rem;
  .template-img{
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      border-bottom-right-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
      object-fit: cover;
    
    }
  }
  // height: 100%;
  // width: 100%;
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  // margin: 1rem;
  // svg {
  //   width: rem(20px);
  //   justify-self: flex-start;
  // }
  .template-name {
    background-color: $clr2;
    display: flex;
    color: white;
    align-items: center;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    justify-content: space-between;
    height: rem(20px);
    padding: rem(12px) rem(10px);
    padding-right: 1.5rem;
    font-size: 0.9rem;
    z-index: 12;
    .dots {
      width: 10%;
    }
  }
  &:hover{
    
    .template-preview-btns{
      opacity: 100%;
    }
  }
}

.template-preview-btns {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .3 ease;
  background-color: #061624c7;
  border-radius: 5px;
   .choose {
    color: white;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    // height: 40%;
    i{
// width: fit-content;
// padding: 0.5rem;
font-size: 2rem;
border-radius: 50%;
      border: 2px solid white;
    }
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .preview{
    font-size: 0.9rem;
    color: lighten($clr3, 10%);
    font-weight: bold;
    letter-spacing: 1px;
  }
  & a {
    border: none;
    // cursor: pointer;
    // padding: 0 rem(27px);
    // height: 42px;
    line-height: rem(43px);
    border-radius: 21px;
    text-align: center;
    // color: #fff;
    // white-space: nowrap;
    // text-decoration: none;
    // margin-left: 1rem;
    margin: 5px;
    // transition: all .3s ease;
  }
  a:hover{
    transform: scale(1.1);
  }
}

    .create-button{       
      letter-spacing: 1px;     
    border: none;
    display: inline-block;
    padding: 0 rem(27px);
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
    text-align: center;
    color: #fff;
    // font-weight: bold;
    letter-spacing: 2px;
    background-color: $clr5;
    // white-space: nowrap;
    // text-decoration: none;
    // margin-left: 1rem;
    margin: 5px;
    transition: all .3s ease;
    &:hover {
      background: lighten($clr3, 5%);
    }

          }
    