// header.main-header {
//     min-height: 90vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     img.logo {
//         width: 180px;
//     }
// }
.main-nav {
  // padding: 20px;
  // & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    h1 {
      color: $clr2;
      margin: 0;
    }
  // }
  // & img {
  //   width: 100px;
  // }
  .logo {
    font-family: righteous;
  }
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  .menu {
    a:first-child, a:nth-child(2) {
      margin-right: 2rem;
    }
    a:hover{
      color: $clr5;
      // transform: scale(20px);
      // color: pink;
      // color: $clr3;
      // transform: scaleX(50%);
    }
  }
}

.web-container {
&.header-2-container {
  background: url('https://svgshare.com/i/Rta.svg') rgba(255, 0, 150, 0.3);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: 300px !important;
  }
  color: aliceblue;
  margin-bottom: 80px!important;
}
}
.header-2-div {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  & p {
    padding: 20px !important;
  }
  & a {
    margin: 20px;
    font-size: 16px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    letter-spacing: 0.7px !important;
    color: rgb(97, 95, 95);
    background-color: #fcc400 !important;
    border-radius: 50px 50px 50px 50px !important;
    padding: 17px 34px 17px 34px !important;
  }
}

.header-2-title {
  width: 20ch;
  text-align: start;
  font-size: 58px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 0;
  margin: 0;
}

.header-2-pa {
  width: 40ch !important;
  text-align: start;
  font-size: 23px !important;
  line-height: 1.1em !important;
  padding: 0 !important;
  margin: 0 !important;
}
