// header.main-header {
//     min-height: 90vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     img.logo {
//         width: 180px;
//     }
// }
.main-nav {
  // padding: 20px;
  // & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    h1 {
      color: $clr2;
      margin: 0;
    }
  // }
  // & img {
  //   width: 100px;
  // }
  .logo {
    font-family: righteous;
  }
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  .menu {
    a:first-child, a:nth-child(2) {
      margin-right: 2rem;
    }
    a:hover{
      // transform: scale(20px);
      // color: pink;
      // color: $clr3;
      // transform: scaleX(50%);
    }
  }
}

.web-container {
  &.header-2-container {
    color: aliceblue;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header-2-div {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  & a {
    font-weight: bold;
    text-decoration: none;
    padding: 17px 34px 17px 34px !important;
  }
  & .header-2-title {
    display: block;
    width: 20ch;
    font-weight: bold;
    line-height: 1.1em;
    padding: 0;
    margin: 0;
  }
}

.header-2-pa {
  display: block;
  width: 40ch;
  line-height: 1.1em;
  padding: 0;
  margin-bottom: 20px;
}
