.web-card-1-col {
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & img {
        max-height: 400px;
    }
}

.web-card-2-row {
    display: flex;
    align-items: center;
    & img {
        object-fit: cover;
        max-width: 80%;
    }
}

.web-card-3-container {
    & img {
        background-image: url('https://i.ibb.co/w63tCS8/bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 400px!important;
        // background-position: ;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-card-3-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    margin-left: 10px;
    & img {
        max-width: 400px;
    }
}

.web-card-3-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.web-card-3-pa {
    font-size: 1rem;
    max-width: 60ch!important;
    color: grey;
    margin: 0;
}

.card-5-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-5-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
}