@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.navbar-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 200px;
    & img {
        max-height: 100px;
        max-width: 9.5rem;
    }
    & .web-div-logo-container {
        display: flex;
        align-items: center;
    }
}

.navbar-2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-2-menu-link {
    padding: 15px 0;
    margin: 0 15px;
    transition: all 0.1s linear;
    line-height: 20px;
}

.login-btn {
    cursor: pointer;
}