.web-container {
    // max-width: 1400px;
    // min-width: 100%;
    height: fit-content;
    display: block;
    position: relative;
    // padding: 1rem !important;
    // object-fit: cover;
    // background-repeat: no-repeat;
    // background-size: cover;
    // transition: all .3s ease;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

// If on edit 
.on-edit {
    transition: all .3s ease;
    &:hover {
        // padding: 1rem;
        outline: 1px solid $clr2;
    }
}