.web-container {
    max-width: 1400px;
    min-width: 100%;
    &:hover {
        outline: 1px solid rgba(128, 128, 128, 0.637)
    }
    display: block;
    position: relative;
    padding: 1rem !important;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}