.web-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search-popper {
    border-top: none;
    box-shadow: none;
    border-radius: unset;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateY(-2%);
    &.el-popper[x-placement^=bottom] {
        margin-top: 0;
    }
    .popper__arrow {
        display: none;
    }
}