.web-card-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.web-card-1-col {
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & img {
        max-width: 400px;
    }
}

.web-card-2-row {
    display: flex;
    align-items: center;
    & img {
        max-width: 400px;
    }
}

.web-card-3-container {
    & img {
        background-image: url('https://i.ibb.co/w63tCS8/bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 400px !important;
        // background-position: ;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-card-3-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    margin-left: 10px;
    & img {
        max-width: 400px;
    }
}

.web-card-3-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.web-card-3-pa {
    font-size: 1rem;
    max-width: 60ch !important;
    color: grey;
    margin: 0;
}

.card-5-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-5-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
}

.card-6-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.card-6-div {
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.05);
    margin: 0px 5px 0px 5px;
    padding: 45px 20px 35px 20px;
    & .card-6-title {
        font-size: 23px !important;
        font-weight: bold !important;
        max-width: 60ch !important;
        margin: 0;
        padding: 0!important;
    }
    & .card-6-pa {
        margin: 0;
        padding: 0!important;
        width: 35ch;
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 1.65 !important;
        color: #515151 !important;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}