button {
    // border: 1px solid grey;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    &:hover {
        background-color: rgba(122, 235, 255, 0.13);
    }
}

a {
    cursor: pointer;
    transition: all .3s ease;
    // &:hover {
    // background-color: rgba(122, 235, 255, 0.13);
    // }
}