button {
    border: 1px solid grey;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    &:hover {
        background-color: rgba(122, 235, 255, 0.13);
    }
}

.remove-cmp-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
}