.container {
	max-width: 100vw;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.center {
	align-items: center;
	justify-content: center;
}

.wrap {
	flex-wrap: wrap;
}

.col {
	flex-direction: column;
}

.space {
	justify-content: space-between;
}

.web-button {
	padding: 3px 15px !important;
	margin-top: 10px !important;
}
.pointer {
	cursor: pointer;
}

.button-reset {
	outline: none;
	border: none;
	background-color: none;
}

.mb1 {
	margin-bottom: .5rem;
}

.rem-m {
	margin: 0 !important;
}

// Aspect ratios

.ratio-16-9 {
	@include aspect-ratio(100, 56);
}

.ratio-square {
	@include aspect-ratio(100, 100);
}

.ratio-card {
	@include aspect-ratio(100, 80);
}

.ratio-poster {
	@include aspect-ratio(100, 150);
}
