.container {
	max-width: 1400px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.center {
	align-items: center;
	justify-content: center;
}

.wrap {
	flex-wrap: wrap;
}

.col {
	flex-direction: column;
}

.tshadow-light {
	text-shadow: 1px 2px 2px #d1c9ca;
}

.tshadow-medium {
	text-shadow: 3px 2px 3px #b7b0b1;
}

.tshadow-strong {
	text-shadow: 5px 5px 3px #b7b0b1;
}

.pointer {
	cursor: pointer;
}
// Aspect ratios

.ratio-16-9 {
	@include aspect-ratio(100, 56);
}

.ratio-square {
	@include aspect-ratio(100, 100);
}

.ratio-card {
	@include aspect-ratio(100, 80);
}

.ratio-poster {
	@include aspect-ratio(100, 150);
}
