.web-header-1 {
    & img {
        max-width: 400px;
    }
    .header-1-div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: baseline;
        .web-button {
            align-self: flex-end;
            box-shadow: 1px 2px 7px #cecece;
            cursor: pointer;
        }
    }
    .header-1-h1 {
        margin: 0 50px;
        text-align: left;
    }
}

.web-sec-cards-1 {
    width: 100px;
    .web-card-1 {
        max-width: 400px;
        height: 100%;
        margin: 10px;
        img {
            max-height: 300px;
            width: 100%;
            object-fit: cover;
        }
        span {
            margin-top: 20px !important;
            cursor: pointer;
        }
    }
}

.web-card-1-col {
    background-color: lightcoral;
    img {
        width: 100%;
    }
    a {
        cursor: pointer;
    }
}

.web-card-1-row {
    .web-card-1-title .web-card-1-pa {
        margin: 0 40px !important;
    }
    .web-card-1-pa {
        max-width: 62ch;
    }
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    img {
        min-width: 500px;
    }
    .web-card-1-div {
        object-fit: cover;
        margin-left: 20px;
    }
}