.web-header-1 {
    & img {
        max-width: 400px;
    }
    .header-1-div {
        background-image: url(http://res.cloudinary.com/dksmeovlj/image/upload/v1606688743/black-white-layers-paper-top-view_yzxa6e.jpg);
        background-size: cover;
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: baseline;
        min-height: 26.0625rem;
        .web-button {
            align-self: flex-end;
            cursor: pointer;
        }
    }
    .header-1-h1 {
        margin: 0 50px;
        text-align: left;
    }
}

.web-sec-cards-1 {
    .web-card-1 {
        max-width: 400px;
        height: 100%;
        margin: 10px;
        img {
            max-height: 300px;
            width: 100%;
            object-fit: cover;
        }
        span {
            margin-top: 20px !important;
            cursor: pointer;
        }
    }
}

.web-card-1-col {
    width: 100%;
    img {
        width: 100%;
    }
    a {
        cursor: pointer;
    }
}

.web-card-1-row {
    .web-card-1-title .web-card-1-pa {
        margin: 0 40px !important;
    }
    .web-card-1-pa {
        max-width: 62ch;
    }
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    img {
        min-width: 500px;
    }
    .web-card-1-div {
        object-fit: cover;
        margin-left: 20px;
    }
}

.vid-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 20px;
    width: 50%;
}

.web-video-2 {
    .web-video {
        padding-bottom: 29%;
    }
    & .responsive-iframe {
        height: 385px;
    }
    height: 600px;
    .video-2-p {
        max-width: 80ch;
    }
}