@font-face {
	font-family: abril;
	src: url(~@/assets/fonts/AbrilFatface-Regular.ttf);
}
@font-face {
	font-family: almondNougat;
	src: url(~@/assets/fonts/AlmondNougat.ttf);
}
@font-face {
	font-family: assistantBold;
	src: url(~@/assets/fonts/Assistant-Bold.ttf);
}
@font-face {
	font-family: assistantLight;
	src: url(~@/assets/fonts/Assistant-ExtraLight.ttf);
}
@font-face {
	font-family: caviarDreams;
	src: url(~@/assets/fonts/CaviarDreams.ttf);
}
@font-face {
	font-family: champagneLimousines;
	src: url(~@/assets/fonts/ChampagneLimousines.ttf);
}
@font-face {
	font-family: crimsonText;
	src: url(~@/assets/fonts/CrimsonText-Regular.ttf);
}
@font-face {
	font-family: fredericka;
	src: url(~@/assets/fonts/FrederickatheGreat-Regular.ttf);
}
@font-face {
	font-family: raleway;
	src: url(~@/assets/fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
	font-family: robotomonoLight;
	src: url(~@/assets/fonts/RobotoMono-Light.ttf);
}
@font-face {
	font-family: robotomono;
	src: url(~@/assets/fonts/RobotoMono-Regular.ttf);
}
@font-face {
	font-family: rubik;
	src: url(~@/assets/fonts/Rubik-Regular.ttf);
}
@font-face {
	font-family: sacramento;
	src: url(~@/assets/fonts/Sacramento-Regular.ttf);
}
@font-face {
	font-family: sundayMorning;
	src: url(~@/assets/fonts/SundayMorning.ttf);
}

@font-face {
	font-family: SourceSansPro;
	src: url(~@/assets/fonts/SourceSansPro-Regular.ttf);
}
@font-face {
	font-family: SourceSansProLight;
	src: url(~@/assets/fonts/SourceSansPro-Light.ttf);
}
@font-face {
	font-family: righteous;
	src: url(~@/assets/fonts/Righteous-Regular.ttf);
}
@font-face {
	font-family: caudex;
	src: url(~@/assets/fonts/caudex.regular.ttf);
}
@font-face {
	font-family: funcyKids;
	src: url(~@/assets/fonts/FUNCYKIDS.ttf);
}
@font-face {
	font-family: kulo;
	src: url(~@/assets/fonts/kulo.otf);
}
@font-face {
	font-family: pumpkins;
	src: url(~@/assets/fonts/pumpkins.otf);
}
@font-face {
	font-family: romantika;
	src: url(~@/assets/fonts/RomantikaHidupRegular.ttf);
}
