// COLOR PALETTE

$clr1: #056674; //color for hover in editor - to be used
$clr2: #66bfbf; // main color - dark blue  
$clr3:#ff4b5c; // color of sliders, second main color
$clr4: #e0ece4; // third color 
$clr5: rgba(204, 204, 204, 0.822);
// $clr6: rgb(233, 233, 233); // color for bold in the web, like nav in the user profile 
// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;
