// COLOR PALETTE

$clr1: #00818a; // main color - dark blue
$clr2: #293462; //color for hover in editor - to be used
$clr3: #ac79ff;
$clr4: #f6f6f69a; // third color
$clr5: #7d4ec8; // color of sliders, second main color
$clr6: #f3f3f3; // third color
// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-middle: 800px;
$break-wide: 1050px;
$break-wider: 1400px;
