
.colors-pagination {
     .palette {
        padding: 12px;
        .change-color-method {
            // font-size: 0.8rem;
            z-index: 1;
            div {
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                top: 3px;
            }
        }
            li {
                display: inline-block;
                border-radius: 50%;
                height: rem(25px);
                width: rem(25px);
                z-index: 5;
            }
            li:not(:last-of-type) {
                margin-right: .5rem;
            }
    }
}

.select-color {
    i {
        // font-size: 1.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        // margin-bottom: 1rem;
          z-index: 1;
        }
  & .color-text {
      font-size: 1.2rem;
      padding: 3px 15px 4px 15px;
  }
}