.edit-txt{
    // font-size: 1.1rem;
    .text-controls>*{ 
    font-size: 1.3rem;
}
            .el-slider,
        .el-input {
            width: 40%;
            margin: 0;
            display: flex;
            align-content: flex-end !important;
        }
        .el-select .el-input {
            width: 100% !important;
            margin-bottom: 5px;
            // margin-top: 1rem !important;
        }
    }
    .icon-set {
        width: 17px;
        height: 9px;
    }

// }
// }