.edit-txt {
	.text-controls > * {
		font-size: 1.3rem;
	}
	.el-slider {
		width: 53% !important;
	}
	.el-select {
		margin-left: rem(27px);
		width: 80%;
	}
}
.icon-set {
	width: 17px;
	height: 9px;
}

.btn-bold {
	font-weight: bold;
}
.btn-italic {
	font-style: italic;
}
.btn-underline {
	text-decoration: underline;
}
.align-text-btns {
	& button:first-child,
	button:nth-child(2) {
		margin-right: 1rem;
	}
}
