
.el-edit-menu {
    pointer-events: none;
    // width: 100%;
    display: flex;
    position: absolute;
    z-index: 50;
    top: 0;
    margin-right: 1rem;
    justify-content: flex-end;
    & ul {
        max-width: 80px;
        pointer-events: all;
        margin: 0;
        background-color: $clr2;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        & i {
            padding: 10px;
            color: #fff;
            margin-right: 0!important;
            cursor: pointer;
        }
    }
}

.el-edit-menu-small {
    pointer-events: none;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 10;
    top: 0;
    justify-content: flex-end;
    & ul {
        pointer-events: all;
        margin: 0;
        background-color: $clr2;
        max-height: 40px;
        border-radius: 10px;
        display: flex;
        & i {
            font-size: 0.85rem;
            padding: 10px;
            color: #fff;
            margin-right: 0!important;
            cursor: pointer;
        }
    }
    // position: absolute;
    // z-index: 10;
    // top: 0;
    // right: 0;
    // justify-content: center;
    // & ul {
    //     margin: 0;
    //     background-color: rgb(255, 255, 255);
    //     border-radius: 10px;
    //     box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.15);
    //     // border-bottom-left-radius: 10px;
    //     // border-bottom-right-radius: 10px;
    //     display: flex;
    //     & i {
    //         padding: 10px;
    //         color: $clr2;
    //         margin-right: 0!important;
    //         cursor: pointer;
    //     }
    // }
}

// .inner-el {

// }