.el-edit-menu {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 10;
    top: 0;
    // transform: translateY(-100%);
    right: 0;
    & ul {
        margin: 0;
        background-color: #fff;
        display: flex;
        & i {
            padding: 10px;
            margin-right: 0!important;
            cursor: pointer;
        }
    }
}

// .inner-el {

// }